body{
  margin: auto;
  background-color: rgb(56, 55, 55);
}
img {
  max-height: 250px;
  max-width: 100%;
  margin: 0 auto;
}
header div{
  text-align: center;
  margin-bottom: 40px;
}
div h1{
  font-size: 60px;
}
section{
  text-align: center;
}
section h1{
  font-size: 38px;
}
section h2{
  font-size: 25px;
}
section div{
  display: inline-block;
}

canvas{
  width: 90% !important;
  height: auto !important;
  margin: auto !important;
}